$padding-top-lg: 128px;
$padding-bottom-lg: 128px;
$padding-top-md: 64px;
$padding-bottom-md: 64px;
$padding-top-sm: 32px;
$padding-bottom-sm: 32px;

$a-color: #506a85;
$a-hover-color: #00bc9c;
$background-base-color: #506a85;